/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0c0e10;

  table {
    margin: 0 auto;
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;

    th {
      border: 1px solid #b3adad;
      padding: 5px;
      background: #f0f0f0;
      color: #313030;
      &.active {
        background-color: #a41fd8;
      }
    }

    td {
      border: 1px solid #b3adad;
      text-align: center;
      padding: 5px;
      background: #ffffff;
      color: #313030;
      width: 45px;
    }
  }
}

.song {
  color: aliceblue;
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  font-size: xx-large;
  display: inline;
  right: 15px;
  position: absolute;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  body {
    background-color: #fff;
  }
  .song {
    color: black;
  }
}
