/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0c0e10;
}
my-app {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #0c0e10;
  margin-top: 50px;
  font-family: monospace;
  font-size: xx-large;
}
table {
  margin: 0 auto;
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 5px;
}
th {
  border: 1px solid #b3adad;
  padding: 5px;
  background: #f0f0f0;
  color: #313030;
  &.active {
    background-color: #a41fd8;
  }
}
td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
  width: 45px;
}
.song {
  color: aliceblue;
}
