body {
  background-color: #0c0e10;
  margin: 0;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .centered {
      text-align: center;
      color: #333;
      font-size: 20rem;
    }
  }

  .song {
    // background-color: #fff;
    // font-size: 3px;
    color: aliceblue;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    // border: 5px solid #fff;
  }

  .nav-open {
    width: 60%;
    display: block;
  }

  .nav-close {
    display: none;
  }

  .key-selected,
  .key-selected:hover,
  .key-selected:active {
    color: hotpink !important;
    background-color: #000 !important;
  }
  .key,
  .key:hover,
  .key:active {
    color: #757575 !important;
    background-color: #000 !important;
  }
}
